<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Challenge Description</h5>
        <p class="grey-text text-lighten-4"><em>Objective:</em> Build a full stack JavaScript app that is functionally similar to <a href="https://fcc-voting-arthow4n.herokuapp.com/"> this</a> and deploy it to Heroku.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/CatherineBacon/voting-app">Github project</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.freecodecamp.com/challenges/build-a-voting-app">Description of the challenge</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © Made by Catherine Bacon
      <a class="grey-text text-lighten-4 right" href="https://github.com/CatherineBacon">Check out my github</a>
    </div>
  </div>
</footer>
