<nav>
  <div class="nav-wrapper">
    {{#if isLoggedIn}}
    <a href="/profile" class="brand-logo">Welcome, <span id="display-name"></span>!</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/yourpolls">Your polls</a></li>
      <li><a href="/newpoll">New poll</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    {{else}}
    <a href="/" class="brand-logo">Welcome!</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    {{/if}}
  </div>
</nav>
