<!DOCTYPE html>

<html>

  <head>
    <title>Polls Polls Polls</title>

    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
  </head>
<!-- This will need updating so shows differently for authorised and unauthorised users -->

  {{> header}}

  <body>
    <div class="container">
      <img src="/public/img/clementine_150.png" />
      <br />
      <p class="title-text">Polls</p>
    </div>

    <div class="container">
      {{#if polls}}
      <ul>
      {{#each polls}}
      <li><a href="/poll/{{_id}}">{{name}}</a>
        {{#if isOwn}}
          <a type="delete" class="btn btn-delete delete-poll" href="/poll/{{_id}}/delete">Delete</a>
        {{/if}}
      </li>
      {{/each}}
      </ul>
      <p>Click on a poll to vote</p>
      <br />
      {{else}}
        <p>No polls found!</p>
      {{/if}}
    </div>

    <script type="text/javascript" src="common/ajax-functions.js"></script>
    <script type="text/javascript" src="controllers/clickController.client.js"></script>
    <script type="text/javascript" src="controllers/userController.client.js"></script>
  </body>

</html>
