<!DOCTYPE html>

<html>

  <head>
    <title>Polls Polls Polls</title>

    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
  </head>
<!-- This will need updating so shows differently for authorised and unauthorised users -->
  <header>
    <p>Welcome, <span id="display-name"></span>!</p>
    <a class="menu" href="/profile">Your profile</a>
    <p>|</p>
    <a class="menu" href="/mypolls">Your polls</a>
    <p>|</p>
    <a class="menu" href="/newpoll">New poll</a>
    <p>|</p>
    <a class="menu" href="/logout">Logout</a>
  </header>

  <body>
    <div class="container">
      <img src="/public/img/clementine_150.png" />
      <br />
      <p class="title-text">{{poll.name}}</p>
    </div>
<!-- need to be able to vote for each option -->
    <div class="container">
      <ul>
      {{#each poll.options}}
      <li>
        <a class="btn btn-vote" href="/poll/{{../poll._id}}/vote/{{_id}}">VOTE</a>
        <span class="nbr">{{count}}</span> : {{name}}
      </li>
      {{/each}}
      </ul>
      <br />
      <div class="btn-container">
        <button type="submit" class="btn btn-add">CLICK ME!</button>
        <button class="btn btn-delete">RESET</button>
      </div>
      <br />
      <!--add option button should only be available for authorised users -->
      <form class="add-option-container" action="/poll/{{poll._id}}" method="post">
        <div>
          <label for="optionName">Add option:</label>
          <input type="text" id="option-name" name="optionName" />
        </div>
        <div>
          <button type="submit" class="btn btn-add-option">ADD!</button>
        </div>
      </form>
    </div>

    <script type="text/javascript" src="common/ajax-functions.js"></script>
    <script type="text/javascript" src="controllers/clickController.client.js"></script>
    <script type="text/javascript" src="controllers/userController.client.js"></script>
  </body>

</html>
