<!DOCTYPE html>

<html>

  <head>
    <title>Polls Polls Polls</title>

    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
<!-- This will need updating so shows differently for authorised and unauthorised users -->

  {{> header isLoggedIn=isLoggedIn}}

  <body>
    <div class="container">
      <img src="/public/img/clementine_150.png" />
      <br />
      <p class="title-text">{{poll.name}} ({{poll.votes}} votes)</p>
    </div>
<!-- need to be able to vote for each option -->
    <div class="container">
      <ul>
      {{#each poll.options}}
      <li>
        <a class="btn btn-vote" href="/poll/{{../poll._id}}/vote/{{_id}}">VOTE</a>
        <span class="nbr">{{count}}</span> : {{name}}
      </li>
      {{/each}}
      </ul>
      <br />
      <!--add option button should only be available for authorised users -->
      {{#if isLoggedIn}}
      <form class="add-option-container" action="/poll/{{poll._id}}" method="post">
        <div>
          <label for="optionName">Add option:</label>
          <input type="text" id="option-name" name="optionName" />
        </div>
        <div>
          <button type="submit" class="btn btn-add-option">ADD!</button>
        </div>
      </form>
      <a class="btn twitter" href="https://twitter.com/intent/tweet?text={{twittermessage}}" >
        <i class="fa fa-twitter"> SHARE!</i>
      </a>
      {{/if}}
    </div>

    <script type="text/javascript" src="/common/ajax-functions.js"></script>
<!--    <script type="text/javascript" src="/controllers/clickController.client.js"></script> -->
    <script type="text/javascript" src="/controllers/userController.client.js"></script>
  </body>

</html>
